<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Index</title>
  </head>
  <body>
    <a href="{% url 'home'%}">Home</a>
    <a href="{% url 'teamindex'%}">Team Index</a>
    <a href="{% url 'divisionindex'%}">Division Index</a>
    <a href="{% url 'matches'%}">Matches</a>

    <h2>{{team.name}}</h2>
    {% if research%}
    <p>W-L Prediction: {{research.w}}—{{research.l}}</p>
    {% endif %}
    <p>Average OPR: {{team.avg_opr}}</p>
    <p>OPR Percentile: {{team.opr_percentile}}%</p>
    <p>Average max score: {{team.avg_mscore}}</p>
    <p>Max score percentile: {{team.mscore_percentile}}%</p>
    
    
    {% if matches %}
    <h3>Match Schedule</h3>
    <table>
        <tr>
            <th>Match Number</th>
            <th>Field</th>
            <th>Day</th>
            <th>Time</th>
            <th>Red 1</th>
            <th>Red 1 OPR</th>
            <th>Red 1 Max Score</th>
            <th>Red 2</th>
            <th>Red 2 OPR</th>
            <th>Red 2 Max Score</th>
            <th>Blue 1</th>
            <th>Blue 1 OPR</th>
            <th>Blue 1 Max Score</th>
            <th>Blue 2</th>
            <th>Blue 2 OPR</th>
            <th>Blue 2 Max Score</th>
            <th>Chance</th>
        </tr>
        {% for m in matches %}
        {% for match in m %}
        <tr >
            <td>{{ match.number }}</td>
            <td>{{ match.field }}</td>
            <td>{{ match.day }}</td>
            <td>{{ match.time }} {{ match.phase }}</td>
            <td {% if  match.red1 == team.name and match.winner == "R" %} style="background-color: #00EA57" {% elif match.red1 == team.name and match.winner == "B" %} style="background-color: red"{% endif %}><a href="{% url 'dashboard' match.red1 %}">{{ match.red1 }}</a></td> 
            <td {% if  match.red1 == team.name and match.winner == "R" %} style="background-color: #00EA57" {% elif match.red1 == team.name and match.winner == "B" %} style="background-color: red"{% endif %}>{{ match.red1_opr }}</td>
            <td {% if  match.red1 == team.name and match.winner == "R" %} style="background-color: #00EA57" {% elif match.red1 == team.name and match.winner == "B" %} style="background-color: red"{% endif %}>{{ match.red1_mscore }}</td>
            <td {% if  match.red2 == team.name and match.winner == "R" %} style="background-color: #00EA57" {% elif match.red2 == team.name and match.winner == "B" %} style="background-color: red"{% endif %}><a href="{% url 'dashboard' match.red2 %}">{{ match.red2 }}</a></td>
            <td {% if  match.red2 == team.name and match.winner == "R" %} style="background-color: #00EA57" {% elif match.red2 == team.name and match.winner == "B" %} style="background-color: red"{% endif %}>{{ match.red2_opr }}</td>
            <td {% if  match.red2 == team.name and match.winner == "R" %} style="background-color: #00EA57" {% elif match.red2 == team.name and match.winner == "B" %} style="background-color: red"{% endif %}>{{ match.red2_mscore }}</td>
            <td {% if  match.blue1 == team.name and match.winner == "B" %} style="background-color: #00EA57" {% elif match.blue1 == team.name and match.winner == "R" %} style="background-color: red"{% endif %}><a href="{% url 'dashboard' match.blue1 %}">{{ match.blue1 }}</a></td>
            <td {% if  match.blue1 == team.name and match.winner == "B" %} style="background-color: #00EA57" {% elif match.blue1 == team.name and match.winner == "R" %} style="background-color: red"{% endif %}>{{ match.blue1_opr }}</td>
            <td {% if  match.blue1 == team.name and match.winner == "B" %} style="background-color: #00EA57" {% elif match.blue1 == team.name and match.winner == "R" %} style="background-color: red"{% endif %}>{{ match.blue1_mscore }}</td>
            <td {% if  match.blue2 == team.name and match.winner == "B" %} style="background-color: #00EA57" {% elif match.blue2 == team.name and match.winner == "R" %} style="background-color: red"{% endif %}><a href="{% url 'dashboard' match.blue2 %}">{{ match.blue2 }}</a></td>
            <td {% if  match.blue2 == team.name and match.winner == "B" %} style="background-color: #00EA57" {% elif match.blue2 == team.name and match.winner == "R" %} style="background-color: red"{% endif %}>{{ match.blue2_opr }}</td>
            <td{% if  match.blue2 == team.name and match.winner == "B" %} style="background-color: #00EA57" {% elif match.blue2 == team.name and match.winner == "R" %} style="background-color: red"{% endif %}>{{ match.blue2_mscore }}</td>
            <td {% if match.winner == "B" %} style="background-color: blue" {% elif match.winner == "R" %} style="background-color: red"{% endif %}>{{ match.chance }}%</td>
        </tr>
            {% endfor %}
            {% endfor %}
    </table>


    {% endif %}

  </body>

</html>
