<!DOCTYPE html>
<html>
    <head>
        <title>Division Teams</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href='{% static "img/logo.png" %}'/>
        <link href='{% static "main.css" %}' rel="stylesheet" type="text/css">
    
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
            <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    </head>
    <body>
        {% include "html/nav.html" %}
        <div class="container">

        <h1>Research Division Team Index</h1>
        <form method="GET" autocomplete="off">
            <input class="" type="text" name='q' placeholder="Search Teams"/>
            <input class="waves-effect waves-light btn-small blue" type="submit" value="Search"/>
        </form>

        <table>
            <tr>
                <th>Team Number</th>
                <th>OPR</th>
                <th>OPR Percentile</th>
                <th>Max Score</th>
                <th>Max Score Percentile</th>
                <th>Average Rank</th>
            </tr>
            {% for team in teams %}
            <tr>
                <td><a href="{% url 'dashboard' team.name %}">{{ team.name }}</a></td>
                <td>{{ team.opr }}</td>
                <td>{{ team.opr_percentile }}%</td>
                <td>{{ team.mscore }}</td>
                <td>{{ team.mscore_percentile }}%</td>
                <td>{{ team.rank }}</td>
            </tr>
                {% endfor %}
        </table>
    </div>

    {% include "html/footer.html" %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    </body>
</html>
