<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href='{% static "img/logo.png" %}'/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>


<style>
    .bg {
      {% load static %}
      background: url('{% static "img/bg1.jpg" %}');
    }
    .demo-layout-transparent .mdl-layout__header,
    .demo-layout-transparent .mdl-layout__drawer-button {
      /* This background is dark, so we set text to white. Use 87% black instead if
         your background is light. */
      color: white;
    }
    </style>

  </head>
  <body>
      <nav class="blue">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="margin-left: 2.5%">GaelScout</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <li><a href="{% url 'home' %}">Home</a></li>
              <li><a href="{% url 'teamindex'%}">Team Index</a></li>
              <li><a href="{% url 'divisionindex'%}">Division Index</a></li>
              <li><a href="{% url 'matches'%}">Matches</a></li>
              <li><a href="{% url 'sri'%}">SRI</a></li>
            </ul>
          </div>
  </nav>

  <div class="container">
    <h1>GaelScout</h1>
    <p>The ultimate VEX data visualization tool.</p>
  </div>

  <footer class="blue page-footer">
      <div class="footer-copyright">
        <div class="container">
        © 2018 Anish Kachinthaya & Rishi Pappu

        <a class="grey-text text-lighten-4 right" style="margin-right: 1%" href="http://www.dhsrobotics.com/" target="_blank">Gael Force Robotics</a>
        <a class="grey-text text-lighten-4 right" style="margin-right: 1%" href="http://www.github.com/anishk23733" target="_blank">GitHub</a>
        </div>
      </div>
    </footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </body>
</html>
