<!DOCTYPE html>
<html>
    <head>
        <title>Matches</title>
        {% load static %}
        <link rel="shortcut icon" type="image/png" href='{% static "img/logo.png" %}'/>
        <link href='{% static "main.css" %}' rel="stylesheet" type="text/css">
        <link href='{% static "main.js" %}' rel="stylesheet" type="text/javascript">

        <link rel="stylesheet" href="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
        <script src="//cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    </head>
    <body>
    {% include "html/nav.html" %}
    <div class="container">

    <div style="margin-left: 2.5%; margin-right: 2.5%">
        <h1>Match Predictions</h1>
        <!-- <div class="ct-chart ct-perfect-fourth"></div> -->

        <table>
            <tr>
                <th>Match Number</th>
                <th>Field</th>
                <th>Day</th>
                <th>Time</th>
                <th>Red 1</th>
                <th>Red 1 OPR</th>
                <th>Red 1 Max Score</th>
                <th>Red 2</th>
                <th>Red 2 OPR</th>
                <th>Red 2 Max Score</th>
                <th>Blue 1</th>
                <th>Blue 1 OPR</th>
                <th>Blue 1 Max Score</th>
                <th>Blue 2</th>
                <th>Blue 2 OPR</th>
                <th>Blue 2 Max Score</th>
                <th>Chance</th>
            </tr>
            {% for match in matches %}
            <tr >
                <td><a href="{% url 'specmatch' match.number %}">{{ match.number }}</a></td>
                <td>{{ match.field }}</td>
                <td>{{ match.day }}</td>
                <td>{{ match.time }} {{ match.phase }}</td>
                <td {% if match.winner == "R" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.red1 }}</a></td>
                <td {% if match.winner == "R" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.red1_opr }}</td>
                <td {% if match.winner == "R" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.red1_mscore }}</td>
                <td {% if match.winner == "R" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}"> <a href="{% url 'dashboard' match.red2 %}">{{ match.red2 }}</a></td>
                <td {% if match.winner == "R" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.red2_opr }}</td>
                <td {% if match.winner == "R" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.red2_mscore }}</td>
                <td {% if match.winner == "B" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}"><a href="{% url 'dashboard' match.blue1 %}">{{ match.blue1 }}</a></td>
                <td {% if match.winner == "B" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}"><a href="{% url 'dashboard' match.blue1 %}">{{ match.blue1_opr }}</td>
                <td {% if match.winner == "B" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.blue1_mscore }}</td>
                <td {% if match.winner == "B" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}"><a href="{% url 'dashboard' match.blue2 %}">{{ match.blue2 }}</a></td>
                <td {% if match.winner == "B" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.blue2_opr }}</td>
                <td {% if match.winner == "B" %} class="#00e676 green accent-3" {% endif %}><a href="{% url 'specmatch' match.number %}"><a href="{% url 'dashboard' match.red1 %}">{{ match.blue2_mscore }}</td>
                <td {% if match.winner == "B" %} style="background-color: blue" {% elif match.winner == "R" %} style="background-color: red"{% endif %}>{{ match.chance }}%</td>
            </tr>
                {% endfor %}
        </table>
    </div></div>
    {% include "html/footer.html" %}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script>

new Chartist.Pie('.ct-chart', {
  series: [{{redcount}}, {{bluecount}}]
},  
{
  donut: true,
  donutWidth: 60,
  donutSolid: true,
  startAngle: 270,
  showLabel: true
}
);
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
    </body>
</html>
