<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Team Index</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href='{% static "img/logo.png" %}'/>
	<link href='{% static "main.css" %}' rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<link href='{% static "main.js" %}' rel="stylesheet" type="text/javascript">

  </head>
  <body>

    {% include "html/nav.html" %}



    <div class="container" action=''>
            <h1>In The Zone Team Index</h1>
    <form method="GET" autocomplete="off">
        <input class="" type="text" name='q' placeholder="Search Teams"/>
        <input class="waves-effect waves-light btn-small blue" type="submit" value="Search"/>
    </form>
    <!--PAGINATION-->
            <ul class="pagination">
                    {% if teams.has_previous %}
                    <li><a href="?page=1">First</a></li>
                <li><a href="?page={{ teams.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
            {% endif %}

            <li class="waves-effect"><a href="">Page {{ teams.number }} of {{ teams.paginator.num_pages }}.</a></li>

            <span class="current">

            </span>

            {% if teams.has_next %}
                <li class="waves-effect"><a href="?page={{ teams.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
                <li><a href="?page={{ teams.paginator.num_pages }}">Last</a></li>

            {% endif %}
        </ul>

    <!--TABLE-->
    <table class="highlight responsive-table">
        <tr>
            <th>Team Number</th>
            <th>OPR</th>
            <th>OPR Percentile</th>
            <th>Max Score</th>
            <th>Max Score Percentile</th>
        </tr>
        {% for team in teams %}
        <tr>
            <td><a href="{% url 'dashboard' team.name %}">{{ team.name }}</a></td>
            <td>{{ team.avg_opr }}</td>
            <td>{{ team.opr_percentile }}%</td>
            <td>{{ team.avg_mscore }}</td>
            <td>{{ team.mscore_percentile }}%</td>
        </tr>
            {% endfor %}
    </table>


    <!--PAGINATION-->
    <ul class="pagination">
            {% if teams.has_previous %}
            <li><a href="?page=1">First</a></li>
        <li><a href="?page={{ teams.previous_page_number }}"><i class="material-icons">chevron_left</i></a></li>
    {% endif %}

    <li class="waves-effect"><a href="">Page {{ teams.number }} of {{ teams.paginator.num_pages }}.</a></li>

    <span class="current">

    </span>

    {% if teams.has_next %}
        <li class="waves-effect"><a href="?page={{ teams.next_page_number }}"><i class="material-icons">chevron_right</i></a></li>
        <li><a href="?page={{ teams.paginator.num_pages }}">Last</a></li>

    {% endif %}
</ul>
</div>
{% include "html/footer.html" %}



<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

  </body>
</html>
