arrow==0.12.1
certifi==2018.4.16
chardet==3.0.4
cssselect==1.0.1
dj-database-url==0.5.0
Django==2.0.4
django-nvd3==0.9.7
idna==2.6
Jinja2==2.10
lxml==4.1.0
MarkupSafe==1.0
numpy==1.14.2
pandas==0.22.0
psycopg2==2.7.4
python-dateutil==2.7.2
python-nvd3==0.14.2
python-slugify==1.1.4
pytz==2018.4
raschietto==0.1.1
requests==2.18.4
scipy==1.0.1
six==1.11.0
Unidecode==1.0.22
urllib3==1.22
whitenoise==3.3.1
