<nav class="blue" id="navbear">
    <div class="nav-wrapper">
      <a href="{% url 'home' %}" class="brand-logo" style="margin-left: 2.5%">GaelScout</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'teamindex'%}">Team Index</a></li>
        <li><a href="{% url 'divisionindex'%}">Division Index</a></li>
        <li><a href="{% url 'matches'%}">Matches</a></li>
        <li><a href="{% url 'rankings'%}">Rankings</a></li>
        <li><a href="{% url 'sri'%}">SRI</a></li>
      </ul>
      
    </div>
</nav>